.homeCont {
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

.homeContPrim {
  height: 50vh;
  background-color: #fff;
}

.homeContSec {
  height: 50vh;
  background-color: #f5f5dc;
  text-align: center;
  font-size: 40px;
}

.title {
  height: 15vh;
  font-size: 50px;
  text-align: center;
}

.incomeInput {
  height: 30vh;
  text-align: center;
  margin-top: 5vh;
  font-size: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.outputRow {
  height: 25vh
}
