.homeCont {
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  overflow-x: hidden;
  background-image: "https://food.fnr.sndimg.com/content/dam/images/food/secured/fullset/2014/4/17/0/GK0200_BTS_produce-section_s4x3.jpg.rend.hgtvcom.966.725.suffix/1397761349158.jpeg";
  background-color: transparent;

}

.homeContPrim {
  /* background-color: #fff; */
  padding-right: 0;
}

.homeContText {
  height: 20vh;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

.homeContSec {
  height: 50vh;
  /* background-color: #f5f5dc; */
  text-align: center;
  font-size: 40px;
}

.title {
  height: 10vh;
  font-size: 50px;
  text-align: center;
}

.incomeInput {
  margin-top: 5vh;
  height: 15vh;
  text-align: center;
  font-size: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.outputRow {
  height: 25vh
}
